

<h1>Lose Your Baggage</h1>

<form class="form" action="show" method="post">
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Make Me Short">

  <input type="submit" value="Submit" class="btn btn-primary">
</form>

</div>